<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokélife - Batalha <%=batalha.id_batalha%> </title> <!-- Título no padrão do site --><!-- No conjunto batalha(que está definido só para a batalha selecionada na página anterior) use o valor de chave 'id_batalha' -->
    <link rel="icon" type="image/x-icon" href="icon.png"> <!-- Logo da pokébola na guia -->
    <link rel="stylesheet" href="top.css"> <!-- CSS da navbar e de algumas configurações padronizadas -->
</head>
<body>
    <nav>
        <div class="nav-in"> <!-- Cabeçalho padrão do site -->
            <a href="/"><h2>PokéLife</h2></a>
            <div class="cont-nav">
                <a href="pokemons"><h3>Pokémons</h3></a>
                <a href="trainers"><h3>Treinadores</h3></a>
                <a href="battles"><h3>Batalhas</h3></a>
            </div>
        </div>
    </nav> <!-- Fim do cabeçalho -->

    <form id="battlesForm" method="post"> <!-- Formulário de edição da batalha -->
        <input type="hidden" id="id_batalha" name="id_batalha" value="<%=batalha.id_batalha%>">

        <select id="selId_treinador1" name="selId_treinador1">
            <% treinadores.forEach((treinador) => { %>
                <option value="<%= treinador.id_treinador %>"
                    <% if (treinador.id_treinador == batalha.id_treinador1) { %> selected <% } %>>
                    <%= treinador.id_treinador %> - <%= treinador.nome %>
                </option>
            <% }); %>
        </select>   
        <select id="selId_pokemon1" name="selId_pokemon1">
            <% pokemons.forEach((pokemon) => { %>
                <option value="<%= pokemon.id_pokemon %>"
                    <% if (pokemon.id_pokemon == batalha.id_pokemon1) { %> selected <% } %>>
                    <%= pokemon.id_pokemon %> - <%= pokemon.nome %>
                </option>
            <% }); %>
        </select>

        <select id="selId_treinador2" name="selId_treinador2">
            <% treinadores.forEach((treinador) => { %>
                <option value="<%= treinador.id_treinador %>"
                    <% if (treinador.id_treinador == batalha.id_treinador2) { %> selected <% } %>>
                    <%= treinador.id_treinador %> - <%= treinador.nome %>
                </option>
            <% }); %>
        </select>
        <select id="selId_pokemon2" name="selId_pokemon2">
            <% pokemons.forEach((pokemon) => { %>
                <option value="<%= pokemon.id_pokemon %>"
                    <% if (pokemon.id_pokemon == batalha.id_pokemon2) { %> selected <% } %>>
                    <%= pokemon.id_pokemon %> - <%= pokemon.nome %>
                </option>
            <% }); %>
        </select>
        <select id="selId_treinador_vencedor" name="selId_treinador_vencedor">
            <% treinadores.forEach((treinador) => { %>
                <option value="<%= treinador.id_treinador %>"
                    <% if (treinador.id_treinador == batalha.id_treinador_vencedor) { %> selected <% } %>>
                    <%= treinador.id_treinador %> - <%= treinador.nome %>
                </option>
            <% }); %>
        </select>
        <input type="date" value="<%=batalha.data%>" name="inputData" id="inputData">
        
        
        <button type="submit" onclick="submitForm('/editarBattle')">Salvar</button>
    </form>
<script>
function submitForm(action) {
const form = document.getElementById('battlesForm');
form.action = action;
form.submit();
}
</script>
</body>
</html>